<a href="https://colab.research.google.com/github/KodaliSuchitraKamala/Wipro_Mini_Projects/blob/main/DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
"""
Use-Case: House Price Prediction
Dataset: melb_data.csv
The dataset can be downloaded melb_data.csv|Kaggle
Perform the following tasks:
1. Load the data in the dataframe (Pandas).
2. Handle the in appropriate data.
3. Handle the missing data.
4. Handle the categorical data.
"""
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv("melb_data.csv")
print("âœ… Dataset Loaded Successfully!")
print(df.head())
if 'Address' in df.columns:
    df.drop(columns=['Address'], inplace=True)
    print("\nðŸ“Œ Dropped 'Address' column as it is not useful for prediction.")
for col in df.columns:
    if df[col].dtype == "object":
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].median(), inplace=True)
print("\nâœ… Missing values handled.")
label_encoders = {}
for col in df.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le
print("\nâœ… Categorical data encoded.")
print("\nðŸ”Ž Cleaned Dataset Info:")
print(df.info())
print("\nFirst 5 rows after preprocessing:")
print(df.head())

âœ… Dataset Loaded Successfully!
       Suburb           Address  Rooms Type      Price Method SellerG  \
0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
1  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
2  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
3  4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0           NaN
4  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN        Yarra  -37.7996    144.9984  Northern Metropolitan
1     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
2     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
3        NaN        Yarra  -37.7969    144.9969  Northern Metropolitan
4     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0

[5 rows x 21 columns]

ðŸ“Œ Dropped 'Address' column as it is not useful for prediction.

âœ… Missing values handled.

âœ… Categorical data encoded.

ðŸ”Ž Cleaned Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  int64
 1   Rooms          13580 non-null  int64
 2   Type           13580 non-null  int64
 3   Price          13580 non-null  float64
 4   Method         13580 non-null  int64
 5   SellerG        13580 non-null  int64
 6   Date           13580 non-null  int64
 7   Distance       13580 non-null  float64
 8   Postcode       13580 non-null  float64
 9   Bedroom2       13580 non-null  float64
 10  Bathroom       13580 non-null  float64
 11  Car            13580 non-null  float64
 12  Landsize       13580 non-null  float64
 13  BuildingArea   13580 non-null  float64
 14  YearBuilt      13580 non-null  float64
 15  CouncilArea    13580 non-null  int64
 16  Lattitude      13580 non-null  float64
 17  Longtitude     13580 non-null  float64
 18  Regionname     13580 non-null  int64
 19  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(8)
memory usage: 2.1 MB
None

First 5 rows after preprocessing:
   Suburb  Rooms  Type      Price  Method  SellerG  Date  Distance  Postcode  \
0       0      2     0  1480000.0       1       23    45       2.5    3067.0
1       0      2     0  1035000.0       1       23    47       2.5    3067.0
2       0      3     0  1465000.0       3       23    48       2.5    3067.0
3       0      3     0   850000.0       0       23    48       2.5    3067.0
4       0      4     0  1600000.0       4      155    49       2.5    3067.0

   Bedroom2  Bathroom  Car  Landsize  BuildingArea  YearBuilt  CouncilArea  \
0       2.0       1.0  1.0     202.0         126.0     1970.0           31
1       2.0       1.0  0.0     156.0          79.0     1900.0           31
2       3.0       2.0  0.0     134.0         150.0     1900.0           31
3       3.0       2.0  1.0      94.0         126.0     1970.0           31
4       3.0       1.0  2.0     120.0         142.0     2014.0           31

   Lattitude  Longtitude  Regionname  Propertycount
0   -37.7996    144.9984           2         4019.0
1   -37.8079    144.9934           2         4019.0
2   -37.8093    144.9944           2         4019.0
3   -37.7969    144.9969           2         4019.0
4   -37.8072    144.9941           2         4019.0

/tmp/ipython-input-2839845562.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
/tmp/ipython-input-2839845562.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)